.container {
    margin-top: 40px;
    margin-bottom: 40px;
    font-family: 'Poppins';
  }
  
  .title {
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  .form {
    width: 100%;
    max-width: 600px;
    margin: auto;
  }
  
  .textfield {
    margin-bottom: 20px;
  }
  
  .submitButton {
    margin-top: 20px;
    background-color: #1976d2;
    color: #fff;
    transition: background-color 0.3s ease;
  }
  
  .submitButton:hover {
    background-color: #1565c0;
  }
  